{% extends 'base/base.html' %}
{% block title %}Event Member Status List{% endblock %}
{% block breadcrumb %}Event Member Status List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Event Member Status List</h5>
            </div>

            <div class="card-body">

                <p>{{ members|length }} Members Loaded</p>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Event Name</th>
                            <th>Attend Status</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% if members %}
                            {% for item in members %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.user.get_full_name|default:item.user.username }}</td>
                                    <td>{{ item.event.name }}</td>

                                    <td>
                                        <span class="badge badge-info">
                                            {{ item.attend_status }}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center text-danger">
                                    No Records Found
                                </td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}
